<% if current_user == @user %>
  <%= link_to 'Edit Profile', edit_user_path(current_user) %>
<% end %>
<% if @user.role == "Employer" %>
  <ul style="list-type: none;">
    <% @user.posted_jobs.each do |job| %>
      <li><%= job.position %><br>
        <%= job.description %><br>
        <%= job.benefits %><br>
        <%= job.salary %><br>
        <%= job.type_of %>
      </li>
    <% end %>
  </ul>
<% end %>
