<ul>
  <li>Position: <%= @posting.position %></li>
  <li>Description: <%= @posting.description %></li>
  <li>Level: <%= @posting.type_of %></li>
  <li>Benefits: <%= @posting.benefits %></li>
  <li>Salary: <%= @posting.salary %></li>
</ul>

<%= link_to 'Apply', new_user_posting_job_application_path(current_user, @posting) %>

<%= link_to 'Company Info', user_path(@posting.employer)%>

<%= link_to 'Back', root_path %>
